<div class="container">
    <!-- <div class="burgerContainer burgerWell"> -->
    <h1 style="display: inline-block; margin-right: 20px">TV News</h1>
    <form action="/scrape" method="get">
        <button type="submit">Scrape</button>
    </form>
    <!-- <ul> -->
    {{#each bacon}}
    <!-- <div class="burgerCell"> -->
    <!-- <li> -->
    <div class="articleWell">
        <a href="{{link}}" target="_blank" style="display: inline-block"><img src="{{image}}" style="width: 300px"/></a>
        <h3 style="display: inline-block; text-align: center"> {{title}}</h3>
        <button class="noteBtn" data-id="{{_id}}">Note</button>
        <div id="notes"></div>
    </div>
    <!-- </li> -->
    <!-- </div> -->
    {{/each}}
    <!-- </ul> -->
    <!-- </div> -->
</div>